node_modules/

# macOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
# Environment Files
.env
.env.local
.env.*
**/.env
**/.env.local
**/.env.*

# Build directories
dist/
build/
.next/
.turbo/
out/

# Large Model Files
packages/nlp/lexiguard_model/model.safetensors
